body {

  background: url("background.jpg")  no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
 h2 {
   color: ghostwhite;
 }


