body {
  margin-top: 20px;
  background: url("background.jpg")  no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: black;
}

div.App.container {
  padding-top: 150px;
  text-align: center;
}

h2, th {
  color: ghostwhite;
  text-align: center;
}
